FELE_APP_NAME=fele-erp
FELE_APP_ENV=development
FELE_DEBUG=true
FELE_API_PREFIX=/api/v1
FELE_DATABASE_URL=postgresql+psycopg://postgres:aa123456@127.0.0.1:5432/fele_erp
FELE_SUPER_ADMIN_EMAIL=admin@fele.local
FELE_SUPER_ADMIN_PASSWORD=Admin@123456
FELE_SUPER_ADMIN_NAME=Fele Super Admin
